<h1>Editing Channel</h1>

<%= render 'form', channel: @channel %>

<%= link_to 'Show', @channel %> |
<<<<<<< HEAD
<%= link_to 'Back', channels_path %>
=======
<%= link_to 'Back', channels_path(@channel.id) %>
>>>>>>> 159e2ddd63d8a7514cea3deda37849a35f86218c
