<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<div class="list">

  <% @channel.each do |x| %>
      <div class="channelname">
        <h2 class="title"><%= link_to x.name, channel_path(x.id)%></h2>
        <p class="description"><%= x.description%></p>
      </div>
  <%end%>

</div>

<br>
