
<div class="container">
<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

  <li class="waves-effect waves-light btn">
    <%= link_to 'Back', post_path(@comment.post_id) %></li>

</div>