<%-# channels = "http://localhost:3000/channels/" + @channel_id + "/App.config"%>


<!--navbar-->
<div class="nav-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="tabs tabs-transparent">
        <li class="waves-effect waves-light btn">
          <%= link_to "WERL'd Home", root_url,class: "navbar-brand" %>
        </li>

        <!--sign in/out-->
        <% if user_signed_in? %>
            <li class="waves-effect waves-light btn">
              <%= link_to current_user.email, user_path(current_user.id)%>
            </li>
            <li class="waves-effect waves-light btn">
              <%= link_to "Logout", destroy_user_session_path%>
            </li>
        <%else %>
            <li class="waves-effect waves-light btn">
              <%= link_to "Login", new_user_session_path %>
            </li>
        <%end %>

      </ul>
    </div>
  </nav>
</div>

